/* stylesheet for tahmid02016.github.io*/

:root {
  --brand: #0f2d3d;
  --co-brand: #ffffff;
  --underline-color: lime;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: underline var(--underline-color);
  color: inherit;
}

header {
  background-color: var(--brand);
  background: linear-gradient(to bottom right, var(--brand), var(--co-brand));
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: 5px solid var(--brand);
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}

h1, h3 {
  margin: 0;
  padding: 0;
}

section {
  margin: 20px auto;
  width: 90%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.section-title {
  width: 100%;
  background: linear-gradient(to bottom right, var(--brand), var(--co-brand));
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 30px;
}

.section-content {
  width: 100%;
  background-color: white;
  color: black;
  margin: 0;
  padding: 10px;
}

.skills-box {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

.box {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--brand);
  padding: 30px;
  border: 5px solid var(--brand);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#img-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: white;
}

.img-box {
  width: 30%;
  margin: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.img-caption {
  background: linear-gradient(to bottom right, var(--brand), var(--co-brand));
  padding: 10px;
  margin: 0;
}

@media (max-width: 800px) {
  #achievements {
    width: 100%;
  }
  .img-box {
    width: 100%;
  }
}

@media (min-width: 800px) {
  header {
    min-height: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}
