/* stylesheet for tahmid02016.github.io*/

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #DCDCDC;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}
a:link {
  color: blue;
}
a:visited {
  color: green;
}
a:hover {
  color: red;
}
a:active {
  color: white;
}

header {
  background-color: lime;
  color: grey;
  font-family: 'Ultra', serif;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 10px double white;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}

h1, h3 {
  margin: 0;
  padding: 0;
  font-family: 'DM Serif Text', serif;
}

section {
  margin: 20px auto;
  width: 90%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.section-title {
  width: 100%;
  background-color: lime;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 30px;
}

.section-content {
  width: 100%;
  background-color: white;
  color: black;
  margin: 0;
  padding: 10px;
}

.skills-box {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

#img-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: white;
}

.img-box {
  margin: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.img-caption {
  background-color: lime;
  padding: 10px;
  margin: 0;
}

@media (max-width: 700px) {
  #achievements {
    width: 100%;
  }
}

