:root {
  --brand: #0d2d3d;
  --co-brand: #ffffff;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Kalpurush;
  src: url(../Kalpurush.ttf);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Kalpurush;
}

a {
  text-decoration: underline var(--brand);
  color: inherit;
}

main {
  font-size: 20px;
}

#banner {
  background: linear-gradient(to bottom right, var(--brand), var(--co-brand));
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
}

#banner a {
  color: white;
  text-decoration: none;
}
 
#blog-link {
  background-color: white;
  font-size: 30px;
  font-weight: bold;
  width: 80%;
  padding: 30px 0;
  margin: 30px auto;
  margin-top: 90px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

#blog-link a {
  color: var(--brand);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

h1, h2, h3 {
  padding: 20px;
}
p {
  margin: 10px 20px;
}

#my-speech {
  color: black;
  background: linear-gradient(to bottom right, var(--brand), var(--co-brand)); // #696969;
}

#my-speech p {
  margin: 0;
  padding: 20px;
}
 
